/* ExploreLibrary.css */

.explore-card-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.explore-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.explore-card-img {
  flex-shrink: 0;
  height: 200px;
  object-fit: cover;
}

.explore-card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.explore-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Add ellipsis for long titles */
  white-space: nowrap; /* Prevent the title from wrapping to the next line */
}

.explore-card-text {
  flex-grow: 1;
  margin-bottom: 0.5rem;
  overflow-y: auto;
}

.explore-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.explore-link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 767px) {
  .explore-card {
    width: 100%;
  }
}

.home-card{
  width: 250px !important;
  margin-left: 100px;
 
}

.home-img{
  height: 200px !important;
}

.to-home {
  cursor: pointer;
  padding: 0 5px;
  border-radius: 5px;
  color: #0056b3;
}

.to-home:hover{
  color: #007bff;
}

